################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x86-Debug
/cmake-build-debug
/cmake-build-release
/Win32_Para_release.lib
/Win32_Para_release.exp
/Win32_Para_release.exe.manifest
/Win32_Para_release.exe
/Win32_Para_debug.pdb
/Win32_Para_debug.lib
/Win32_Para_debug.ilk
/Win32_Para_debug.exp
/Win32_Para_debug.exe
/.vs/ParaPlusPlus/v16
/.vs
/AS_DEBUG
/out/build/x86-Release
/Win32_ParaPlusPlus_debug.pdb
/Win32_ParaPlusPlus_debug.lib
/Win32_ParaPlusPlus_debug.ilk
/Win32_ParaPlusPlus_debug.exp
/Win32_ParaPlusPlus_debug.exe
/Folder.DotSettings.user
/.idea
/Linux_Para_debug
/Linux_Para_release
/build
/.vscode
/cmake-build-debug-coverage
/CodeAnalysis
/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/
/.vs/
/out/
